<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
</head>
<body>
    <h1>Litt om nettsiden</h1>
    <p>Dette er min første Flask netttside så her har jeg bare noen andre filer dere kan se på</p>
    <ul>
        <li><a href="/om">Litt om meg</a></li>
        <li><a href="/mio">Om katten min</a></li>
        <li><a href="/audun">Litt om min autisitkse venn audun</a></li>
    </ul>
</body>
</html> 