<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om meg</title>
</head>
<body>
    <h1>
        OM meg
    </h1>
    <p>
        jeg heter Nikolai og dette er noe jeg liker å gjøre
        <ul>
            <li>Spille spill som minecraft eller noen random spill på steam som</li>
            <li>Ligge i sengen å gjøre ingenting etter skole</li>
            <li>kose <a href="/mio">mio</a></li>
        </ul>
    </p>
</body>
</html>